body {
    font-family: Arial;
    background: #f0f3f5;
}

.container {
    width: 350px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
}
